@media all and (min-width: 426px) and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 425px) {
    .container {
        grid-template-columns: 1fr;
    }
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2em;
    align-items: center;
    max-width: 80%;
    margin: auto;
    padding: 2em;
    border: 1px solid black;
    box-shadow: 0px 5px gray;
}

.meme {
    padding: 4%;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 5px gray;
    display: grid;
    grid-template-areas:
        "🖼️ 🖼️"
        "❤️ 💬";
}

#image-section {
    grid-area: 🖼️;
    max-width: 100%;
    max-height: 100%;
}

#like-section {
    grid-area: ❤️;
    font-size: 20px;
    padding: 5% 5% 0 5%;
}

#comment-section {
    grid-area: 💬;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    margin-top: 1%;
    padding: 5% 5% 0 5%;
}

.fa:hover {
    cursor: pointer;
}

.paging {
    display: flex;
    justify-content: flex-start;
    margin: left auto;
}

.paging>a {
    color: black;
    text-align: center;
    text-decoration: none;
    margin: 0 6px;
}

.paging>a:hover {
    cursor: pointer;
}

.dot {
    height: 18px;
    width: 18px;
    background-color: #bbb;
    border-radius: 50%;
}

#logout {
    color: black;
    text-decoration: none;
    float: right;
    margin-right: 1%;
}